header {
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../../../public/images/banner1.jpg');
    background-size: cover;
    background-position: center;
    height: 130vh;

}

nav a:hover {
    background-color: rgba(234, 48, 48, 0.892);
}

.para {
    font-size: 50px;
    font-family: "Courgette-Regular";
}


#lightbtn {
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: white;
}
#redbtn {
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    border: none;
}
.chf{
    align-items: center;
    margin-bottom: 50px;
}