.second-sec{
    background-image: url(../../../public/images/main_bg.jpg);
    height: 90vh;
}
.bgr-1{
    background-color: white;
    height: 600px;
}

.lawal {
    font-size: 50px;
    color: #f32853;

}
@media (min-width : 320px) and (max-width : 426px) {

    .lmard {
        margin: 30px 0 0 0;

        img {
            width: 50px;
            height: 50px;

        }

        .lawal {
            font-size: 25px;


        }

        .boxes {
            width: 180px;
            height: 6px;

        }


    }

    .boxes-2 {
        img {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: space-between;

        }
    }
}
////////////////**SECTION 3*////////////////////////
.sec-3{
background-color: black;
height: 100vh;
}
.texto{
    font-size: 60px;
    padding-top: 50px;
}
.pics{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.prchf{
    text-align: center;
    color: white;
}

//**sec 4**/ 
.sec-4{
    background-image: url(../../../public/images/main_bg.jpg);
    height: 200vh;
}
.bgr-4{
    background-color: white;
    height: 700px;
}
.table {
    background-image: url(../../../public/images/book_table_bg.jpg);
    max-width: 960px;
    margin-left: 270px;
    border-radius: 4%;
  }
  .form-control {
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
    border-radius: 30px;
  }
  .btn {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    margin-right: 300px;
    width: 130px;
    font-size: 18px;
  }
  

.btn-danger {
    background-color: red;
    border: none;
}

.btn-danger:hover {
    background-color: #ff4d4d;
}

